<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamsevi.sevi">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Scan_Order.ThanksScreen"></activity>
        <activity android:name=".Scan_Order.FinalConfirm" />
        <activity android:name=".Scan_Order.ConfirmHold" />
        <activity android:name=".Scan_Order.ScanMenu" />
        <activity android:name=".Scan_Order.PassCode" />
        <activity android:name=".Scan_Order.ScanOrder" />
        <activity android:name=".Hotel_near_me.FindHotel" />
        <activity android:name=".Hotel_Menu.Hotel1" />
        <activity android:name=".Hotel_Menu.HotelList" />
        <activity android:name=".Home.ContactUs" />
        <activity android:name=".Home.UserFeedback" />
        <activity android:name=".Home.MyOrder" />
        <activity android:name=".Home.UserProfile" />
        <activity android:name=".Home.HomePage" />
        <activity android:name=".Login_Signup.Signup_OTP" />
        <activity android:name=".Login_Signup.Forget_Password" />
        <activity android:name=".Login_Signup.WelcomeScreen" />
        <activity android:name=".Login_Signup.SignupScreen" />
        <activity android:name=".Login_Signup.LoginScreen" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>